/.metadata/

/ScrumbledorsArmy/target/
/ScrumbledorsArmy/bin/

/Servers/

/RemoteSystemsTempFiles/
/ScrumbledorsArmy/.settings/
/ScrumbledorsArmy/.classpath
/ScrumbledorsArmy/.project

/.recommenders/