/.metadata/

/Servers/

/RemoteSystemsTempFiles/

/ScrumbledorsArmy/bin/
/ScrumbledorsArmy/target/
/ScrumbledorsArmy/.settings/
/ScrumbledorsArmy/.classpath
/ScrumbledorsArmy/.project

/.recommenders/