<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ScrumbledorsArmy</display-name>
	<display-name>SpringMVCnoJSP</display-name>
	<!-- Map FrontController of Srping -->
	<servlet>
		<servlet-name>SpringServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param><!-- ServletConfig - enviornment variable for -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/beans.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- listen to start the Spring Container or ApplicationContext-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- ServletContext - environment variables for All Servlets -->
	<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>
</web-app>